* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1000;
  padding: 2rem;
  overflow-y: scroll;
  border-radius: 5px;
}
.modal.small{
  overflow-y: auto;
}
.modal.large{
  width: 60vw;
  height: 75vh;
  max-width: 700px;
}
.modal h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.modal .body{
  margin-bottom: 2rem;
}
.modal p{
  text-align: justify;
  margin: 2px auto;
}
.modal ul{
  padding-left: 1.1rem;
}
.modal ul li{
  margin: 1rem auto;
}
.modal button{
  margin: auto 0 0 0;
}
button{
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}
.statsButton {
  align-self: center;
}
.BbaC-body {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.deal {
  width: 50%;
  margin: 10px auto 0 auto;
  padding: 5px;
  font-size: 1.4rem;
}
.scoreBug {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  color: #111;
}
.score{
  width: 25%;
}
.score-runs {
  font-size: 2rem;
  text-align: center;
}
.staminaBug {

}
.staminaBug .staminaBackground {
  width: 100%;
  background-color: #d5d5d5;
  border-radius: 4px;
}
.staminaBug .staminaFill{
  height: 20px;
  background-color: #111;
  border-radius: 4px;
  transition: background-color .1s linear;
}
.staminaBug .staminaFill.decrease{
  background-color: #cf0000;
}
.staminaBug .staminaFill.increase{
  background-color: #0f8a32;
}
.countBug {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}
.displayBug {
  max-width: 25%;
  min-width: 130px;
}
.innings {
  font-size: 1.4rem;
  text-align: center;
}
.outsBug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.out {
  width: 30px;
  height: 30px;
  border: 3px solid #111;
  border-radius: 20px;
  margin: 0 10px;
}
.basesBug {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 70px;
  padding: 11px;
  margin-bottom: 5px;
}
.base {
  width: 30px;
  height: 30px;
  border: 3px solid #111;
  transform: rotate(45deg);
}
.active {
  background-color: #111
}
.selfTop{
  align-self: flex-start;
}
.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hand-card{
  width: 40%;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
}
.empty-card{
  width: 40%;
  height: 34px;
  margin: 5px;
}
.deckInfo{
  margin-top: auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.deckInfo-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deckInfo-detail svg{
  font-size: 2rem;
}