* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
button{
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}
.BbaC-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.deal {
  width: 50%;
  margin: 10px auto 0 auto;
  padding: 5px;
  font-size: 1.4rem;
}
.scoreBug {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  color: #111;
}
.score{
  width: 85px;
}
.countBug {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
}
.innings {
  font-size: 1.4rem;
  text-align: center;
}
.outsBug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.out {
  width: 30px;
  height: 30px;
  border: 3px solid #111;
  border-radius: 20px;
  margin: 0 10px;
}
.basesBug {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 70px;
  padding: 11px;
  margin-bottom: 5px;
}
.base {
  width: 30px;
  height: 30px;
  border: 3px solid #111;
  transform: rotate(45deg);
}
.active {
  background-color: #111
}
.selfTop{
  align-self: flex-start;
}
.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.hand-card{
  width: 40%;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
}
.deckInfo{
  margin-top: auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.deckInfo-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deckInfo-detail svg{
  font-size: 2rem;
}